<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Static Html file</title>
  </head>
  <body>
    <h1>This html was sent direct from server.</h1>
    <p>this file is being rendered by ejs</p>

    <span>This dynamic data was sent by : <%= user.name %></span> <br />
    <span>let's do a calculation : <%= five * three %></span> <br />
    <br />
    <span>
      using if else : My age is <% if (user) { %>
      <span><%= user.age %></span>
      <% } %></span
    >
    <br />
  </body>
</html>
